<nav class="navbar" *ngIf="shouldShowNavbar()">
  <a (click)="goToHome()">Inicio</a>
  <a (click)="goToCosechas()">Cosechas</a>
  <a (click)="goToLotes()">Lotes</a>
  <a (click)="goToApiarios()">Apiarios</a>
  <a (click)="goToAlmacenes()">Almacenes</a>
  <a (click)="goToHerramientas()">Herramienta</a>
  <a (click)="goToMateriasPrimas()">Materias Primas</a>
  <a (click)="goToProveedores()">Proveedores</a>

  <!-- 👇 Se oculta automáticamente si el rol es OPERADOR -->
  <a *ngIf="!isOperator" (click)="goToUsuarios()">Usuarios</a>

  <a (click)="goToHistorialMedico()">Historial Médico</a>
</nav>
